{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Aplicacion visitantes</h1>
        <p></p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Ver mas &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->
{% endblock %}
